@import './components/atoms/constants.scss';
@import './components/atoms/mixins.scss';

$background-image-path: '../public/img/background_html.png';

* {
  @include reset;
}

html {
  background: url($background-image-path) 50% / cover no-repeat fixed;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
